body{
    max-width: 1000px;
    font-family: Garamond, Verdana, sans-serif;
    height: 100%;
    width: 100%;   
    background-color:aliceblue; 
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

h3,h4{
    text-align: center;
}

.all_catalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:center;
}

.ima{
    width: 180px;
    height: 250px;
}

.cl {
    width: 200px;
}

@media screen and (max-width: 500px){
    .all_catalog{
        flex-direction: column;
    }
}



