body{
    max-width: 1000px;
    font-family: Garamond, Verdana, sans-serif;
    height: 100%;
    width: 100%;   
    background-color:aliceblue; 
    display: grid;
    grid-template-areas: 
    "h h h h h h"
    "c c c c c c";
}

h1 {
    grid-area: h;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;

}


.all_catalog{
    grid-area: c;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

}


.cl:hover {
    background:rgb(204, 226, 244)  ;
}

.ima{
    width: 180px;
    height: 250px;
}

.cl {
    width: 200px;

}
