
.grid_all{
    font-family: Garamond, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "h h h h h"
    "m c c c c";
    grid-template-rows: 200px 540px;
    grid-template-columns: repeat(3, 1fr);
    

}

.header{
    display: grid;
    grid-area: h;
    grid-template-columns: 1fr 4fr 1fr;
    background-image: linear-gradient(to left, #FFFFFF, #114374, #114374);
}

.header #image{
    height: 200px;
}

.header #header {
    color: white;
    font-size: 60px;
    align-self: center;

}


.menu_content{
    display: grid;
    grid-area: m;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}
.button {
    background: rgb(97, 175, 209);
    color: black;
    padding: 5px;
    margin: 4px 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background: rgb(158, 209, 231);
}

.menu_content a{
    flex-direction: column;
}

.menu_content h2 {
    font-size: 30px;
}

.menu_content .icon {
    height: 60px;
}
.animation_content{
    grid-area: c;
    height: 400px;
}

.image1{
    height: 400px;  
    width: 100%;
    position: absolute;    
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.image2 {
    height: 400px;  
    width: 100%;
    position: absolute;  
    animation-name: image_move;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes image_move{

    from{transform: translateX(0px);}
    to{transform: translateX(10px);}
    
}


/*
.animation_content{
    grid-area: c;
    height: 400px;
    width: 100%;
    background-size: 100% 100%;    
    background-image: url("image\1.jpeg");
    animation: image_move ease-in-out 6s infinite;


}
    
@keyframes image_move{
    0%{
        background-image: url("image\1.jpeg");
    }

    75%{
        background-image: url("image\2.jpeg");
    }

    100%{
        background-image: url("image\1.jpeg");
    }
      
}
  
*/


