body{
    font-family: Garamond, Verdana, sans-serif;
    height: 100%;
    width: 100%;   
    background-color:aliceblue; 
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}


.flex-grid{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    align-content:space-around;
}


.vd{
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis:40%;
}


.lable{
    text-align: center;
}